body {
    background-color: #182747;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    margin: 50px;
    color: white;
    text-shadow: 2px 0 0px #800040, 3px 2px 0px rgba(77,0,38,0.5), 3px 0 3px #FF002B, 5px 0 3px #800015, 6px 2px 3px rgba(77,0,13,0.5), 6px 0 9px #FF5500, 8px 0 9px #802A00, 9px 2px 9px rgba(77,25,0,0.5), 9px 0 18px #FFD500, 11px 0 18px #806A00, 12px 2px 18px rgba(77,66,0,0.5), 12px 0 30px #D4FF00, 14px 0 30px #6A8000, 15px 2px 30px rgba(64,77,0,0.5), 15px 0 45px #80FF00, 17px 0 45px #408000, 17px 2px 45px rgba(38,77,0,0.5), 7px -40px 11px rgba(100,126,104,0);
}

h3 {
    color: white;
    font-size: medium;font-weight: 100;
    font-family:Arial, Helvetica, sans-serif;   
}

.extra {
    color: white;
    text-align: center;
    height: 50px;
}

.extra h4 {
   display: inline;
   margin-left: 0px;
   padding: 20px;
}

.set-mines {
    color: white;
    text-align: center;
    height: 45px;
}

.set-mines button {
    color: #4a5d4d;
    cursor: pointer;
      
}
table {
    border-spacing: 5px;
    border-radius: 3px;
    text-align: center;
    margin: auto;
    background-color: aliceblue;
}

.board td {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid blacl;
    box-sizing: border-box;
  }

.closed {
    background: linear-gradient(to top, gray, #647E68);
}   

.open {
    background-color:  lightgrey;
}

button {
    color: #4a5d4d;
    cursor: pointer;
    margin-bottom: 40px;
    height: 30px;
}

.smiley {
    height: 40px;
    cursor: pointer;
}

.modal {
    display: none;
    color: white;
}

.hint {
    height: 20px;
    display: inline;
    cursor: pointer;
}

.safe {
    border: 3px solid #f516a7;
}

.score{
    color:white;
}

.high-scores { 
    display: flex;
    margin-left:-5px;
    margin-right:-5px;
}
.container {
    background-color: #408000;
}
.container h4 { 
   margin: auto;
   padding-top: 10px;
    text-align: center;
    color:#ddd;

}

.column {
    flex: 30%;
    padding: 5px;
    font-size: 12px;
    color: white;
}


.list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
}

.high-score {
    font-size: 12px;
    margin-bottom: 2px;
}

